@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: hsl(0, 0%, 8%);
    color: #ffffff;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, #333 0%, transparent 70%);
    top: -100px;
    right: -100px;
    opacity: 0.2;
    z-index: 0;
  }

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 2px solid #fff;
    border-radius: 50%;
}

#localização {
    color: hsl(250, 85%, 60%);
    font-weight: 700;
    margin-top: 10px;
}

#hero-prof {
    font-weight: 600;
    margin-top: 10px;
}

#hero-links {
    margin-top: 18px;
}


#container {
    background-color: rgba(30, 30, 30, 0.85); /* preto suave + transparência */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

#hero {
    margin-top: 35px;
    padding: 15px;
}


ul li {
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}

li:hover {
    background-color: hsl(0, 0%, 8%);
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

a:hover {
    color: hsl(250, 85%, 80%);
}

@media (max-width: 375px) {
    body {
        padding-top: 20px; /* Reduzindo o espaçamento superior para telas pequenas */
    }

    #container {
        width: 100%; /* Aumentando a largura para ocupar mais espaço em telas pequenas */
        margin-top: 15px; /* Ajustando o espaçamento superior */
        padding: 15px; /* Reduzindo o padding interno para melhor uso do espaço */
    }

    img {
        width: 120px; /* Reduzindo o tamanho da imagem para se ajustar à tela */
        height: 120px;
    }

    #localização {
        font-size: 14px; /* Ajustando o tamanho da fonte */
    }

    #hero-prof {
        font-size: 16px; /* Reduzindo o tamanho da fonte */
    }

    ul li {
        padding: 8px; /* Diminuindo o padding das listas */
        margin: 10px; /* Reduzindo o espaçamento entre os itens */
    }

    a {
        font-size: 14px; /* Diminuindo o tamanho da fonte dos links */
    }
}

